<div class="container">
  <h1 class="bg-info w-50 m-auto mt-3 text-center p-2">Student details</h1>
  <input type="text" [(ngModel)]="name" class="w-25  m-3 text-center" placeholder="name" />
  <input type="text" [(ngModel)]="age" class="w-25  m-3 text-center" placeholder="age" />
  <input type="text" [(ngModel)]="grade" class="w-25  m-3 text-center" placeholder="grade" />
  <p class="w-25  m-3 d-inline-block bg-info rounded-3 p-2 text-center">name:{{' '+name}}</p>
  <p class="w-25  m-3 d-inline-block bg-info rounded-3 p-2 text-center">age:{{' '+age}}</p>
  <p class="w-25  m-3 d-inline-block bg-info rounded-3 p-2 text-center">grade:{{' '+grade}}</p>
</div>
